{% load blog_tags %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


<!DOCTYPE html>
    <html>
        <head>
            <title>{% block title %}{% endblock %}</title>
        </head>
        <body>

            <div class="container">
              <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                  <a class="navbar-brand" href="{% url 'blog_app:post_list' %}">ABOGE</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>                    </ul>
                  </div>
                </div>
              </nav>
            </div>

            <main class="container">
              <div class="row">
                <div class="col-8">
                  {% block content %}
                  {% endblock %}
              </div>
                <div class="col-4">
                  <p>This is my blog. I've written {% total_posts %} posts so far.</p>
                  <h5>Latest posts</h5>
                  {% show_latest_posts 3 %}
                  <h5>Most commented posts</h5>
                  {% get_most_commented_posts 3 as most_commented_posts %}
                  <ul class="list-group">
                    {% for post in most_commented_posts %}
                        <li class="list-group-item"><a class="text-decoration-none" href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </main>
        </body>
    </html>